.text-center{
    text-align: center;
}
.container{
    width: 100%;
}

.center-card{
    box-shadow: 2px;
    border:solid 1px #ccc;
    width: 70%;
    margin:auto;
}
a{
    all:unset;
}
.task-list{
    list-style: none;
}
.row {
    border: solid 1px #ccc;
    margin: 5px;
    padding: 3px;
    min-height: 30px;
}

.row *{
    display:inline;
}

.row input{
    float: left;
    width: 5%;
    position: relative;
    top: 50%;
    transform: translateY(50%);
    
}
.row h4{
    width: 80%;
    
}
.right-div{
    float: right;
}
.right-div *{
    margin-left: 3px;
    margin-right: 3px;
    padding: 0px;
}
.task-done{
    background-color: rgb(167, 167, 167);
}
.task-done h4,.task-done h5{
    top:70%;
    text-decoration: line-through;
}

.expired-task{
    background-color: red;
}
.expired-task h5,.expired-task h4{
    color: white;
}
#edit-container{
    margin: auto;
}

#edit-container *{
    padding: 2px;
    margin: 2px;
}
#task-title{
    width: 60%;
    min-width: 200px;
}
#task-deadline{
    min-width: 150px;
}
#edit-container button{
    width: 8%;
    min-height: 30px;
    min-width: 50px;
    margin-right: 2px;
    border-radius: 10px;
    background: rgb(0, 155, 245);
    color: white;
    border:1px solid lightcoral;
}
.delete-btn{
    float: right;
    background-color: rgb(253, 213, 80);
    min-height: 30px;
    min-width: 50px;
    border: 0px;
    border-radius: 3px;
}